#footer{
    background-color: #fff;
    background-image: linear-gradient(-45deg, #d7f7d7, #f8f9fa, #dbf5db);
    color: #000;
    a{
        display: block;
        padding: 8px 10px;
        color: #000;
        @include bg-color($nocolor, #ddd);
        &::before {
            content: '\f0da';
            font-family: Fontawesome;
            margin-right: 5px;
        }
    }
    .title-footer {
        font-weight: bold;
        font-size: 17pt;
    }
}
.maps {
    position: relative;
    min-height: 88%;
    @include max-md {
        // min-height: 300px!important;
    }
    &-son {
        position: absolute;
        height: 100%;
        @include max-lg {
            position: absolute;
            height: 250px!important;
        }
    }
}
.fanpage {
    @include max-sm {
        margin-top: 16rem;
    }
}