@import './mixin';
@import './global';
@import './header';
@import './footer';
@import './jobmanage';
@import './jobcompany';
@import './detailjob';
@import './person';
@import './detailperson';
@import './login';
@import './registe';
@import './loginmaster';
@import './registemaster';
@import './listjobcompany';
@import './personlogin';
@import './employer';
body{
    color: #000;
}

.box-function {
    a {
        display: block;
        padding: 15px 10px;
        color: #c0392b;
        &:hover {
            background-color: #c0392b;
            color: #fff;
            transition: .3s ease-out all;
        }
        .login{
            &::before {
                content: '\f090';
                font-family: Fontawesome;
                margin-right: 5px;
                font-size: 3rem;
            }
        }
        .res{
            &::before {
                content: '\f25d';
                font-family: Fontawesome;
                margin-right: 5px;
                font-size: 3rem;
            }
        }
        .finish{
            &::before {
                content: '\f058';
                font-family: Fontawesome;
                margin-right: 5px;
                font-size: 3rem;
            }
        }
         .post{
            &::before {
                content: '\f14b';
                font-family: Fontawesome;
                margin-right: 5px;
                font-size: 3rem;
            }
        }
        
        
    } 
}
.item-function {
    background-color: #fff;
    display: block;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
    transition: all .15s ease-in-out;
}

.post {
    &-item {
        background-color: rgba(#fff, .8);
        box-shadow: 0 3px 3px rgba(0,0,0,.05);
        &:hover {
            background-color: #fff;
            transition: .3s ease-out all;
            box-shadow: 8px 8px 8px rgba(0,0,0,.05);
        }
        &-link {
            color: #000;
            &:hover {
                color: #e74c3c;
            }
        }
        
    }

    &-itemlist{
        border: 1px solid #dee2e6;
        &-title {
            font-size: 13pt;
            color: #c0392b;
            &:hover{
             color: orangered;
            }
        }
        &-company {
            font-size: 13pt;
            color: #999;
            &:hover{
             color: #2f3640;
            }
        }
        &-link {
            color: #2f3640;
             &:hover{
             color: orangered;
            }
        }
        &:hover {
            border: 1px solid #a9acaf;
            box-shadow: 2px 2px 2px #a9acaf;
            transition: .3s ease-out all;
        }
    }
    &-tags{
        background-color:#e74c3c;
        color: #fff;
        padding: 2px 4px;
        border-radius: 4px;
        margin: 4px;
        font-size: 9pt;
        &:hover {
            background-color: rgba(#e74c3c, .7);
            color: #fff;
        }
    }

}
.post-title-sm {
    @include max-sm {
        text-align: center;
    }
}
.company-sm {
    @include max-sm {
        text-align: center;
    }
}
.title-post {
    display: block;
    padding: 10px 5px;
    background-color: #e74c3c;
    color: #fff;
    &:hover {
        color: #95afc0;
    }
}
.input-seach {
    position: relative;
    .li-briefcase {
        position: absolute;
        left: 13px;
        top: 6px;
        &::before {
            content: '\f0b1';
            font-family: Fontawesome;
            margin-right: 3px;
            font-size: 22px;
            color: #e74c3c;
        }
    }
    .li-hammer-wrench {
        position: absolute;
        z-index: 99;
        left: 15px;
        top: 6px;
        &::before {
            content: '\f0ad';
            font-family: Fontawesome;
            margin-right: 5px;
            font-size: 22px;
            color: #e74c3c;
        }
    }
    .li-local {
        position: absolute;
        z-index: 99;
        left: 15px;
        top: 6px;
        &::before {
            content: '\f041';
            font-family: Fontawesome;
            margin-right: 5px;
            font-size: 22px;
            color: #e74c3c;
        }
    }
    .li-seach {
        position: absolute;
        z-index: 99;
        left: 15px;
        top: 8px;
        &::before {
            content: '\f002';
            font-family: Fontawesome;
            margin-right: 5px;
            font-size: 18px;
            color: #fff;
        }
    }
    input {
        padding: 0.5rem 0.5rem 0.5rem 2.5rem;
        
    }
    &-link {
        display: block;
        padding: 0.6rem 0.5rem 0.6rem 2.5rem;
        border: 1px solid #dee2e6;
        background-color: #e74c3c;
        color: #fff;
        font-weight: bold;
        margin-top: 0px;
        &:hover {
            background-color:   #c0392b;
            color: #fff;
        }
    }
}
.input-select{
    background-color: #fff!important;
    padding: 0.75rem 0.5rem 0.75rem 2.5rem;
}
.banner-slide {
    @include max-sm {
        display: none;
    }
}