{% extends 'layouts/default.html' %}

{% block title %}Detailjob{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item active" aria-current="page">Detail-Person</li>
            </ol>
        </nav>
    </div>
</div>
<section class="bg-light">
    <div class="container">
        <!-- <h3>Thông tin ứng viên</h3> -->
        <div class="d-flex flex-wrap p-0">
            <div class="col-lg-9 col-md-12 p-0">
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item">
                        <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home"
                            aria-selected="true">Thông tin ứng viên</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" id="profile-tab" data-toggle="tab" href="#profile" role="tab" aria-controls="profile"
                            aria-selected="false">Chỉnh sửa bổ sung</a>
                    </li>
                </ul>
                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                        <div class="d-flex flex-wrap portfolio mb-3">
                            <div class="col-md-4 text-center p-0">
                                <div class="card">
                                    <div class="card-thumb">
                                        <img class="card-img-top" src="{{img('avatar1.jpg')}}" alt="Card image cap">
                                    </div>
                                    <div class="card-body py-1">
                                        <h5 class="card-title m-0">MS: <span>05742</span></h5>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-8">
                                <ul class="nolist info-list">
                                    <li>
                                        <div class="row mb-2">
                                            <div class="col-md-3 info-list__form-name"><span>Tên</span></div>
                                            <div class="col-md-9"><span>Nguyễn Thanh Tâm</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row mb-2">
                                            <div class="col-md-3 info-list__form-name"><span>Ngày Sinh</span></div>
                                            <div class="col-md-9"><span>18/03/1999</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row mb-3">
                                            <div class="col-md-3 info-list__form-name"><span>Ngành nghề</span></div>
                                            <div class="col-md-9">
                                                <span class="person-tags"><a href="#" class="text-light">Marketing</a></span>
                                                <span class="person-tags"><a href="#" class="text-light">SEO</a></span>
                                                <span class="person-tags"><a href="#" class="text-light">Design</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row mb-2">
                                            <div class="col-md-3 info-list__form-name"><span>Giới tính</span></div>
                                            <div class="col-md-9"><span>Nữ</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row mb-2">
                                            <div class="col-md-3 info-list__form-name"><span>Hôn nhân</span></div>
                                            <div class="col-md-9"><span>Độc thân</span></div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row mb-2">
                                            <div class="col-md-3 info-list__form-name"><span>Thường trú</span></div>
                                            <div class="col-md-9">
                                                <span class="person-tags"><a href="#" class="text-light">Bà Rịa</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-3 info-list__form-name"><span>Hiện Tại</span></div>
                                            <div class="col-md-9">
                                                <span class="person-tags"><a href="#" class="text-light">Vũng Tàu</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-3 info-list__form-name"><span>Trình độ</span></div>
                                            <div class="col-md-9">
                                                <span class="person-tags"><a href="#" class="text-light">ĐH</a></span>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <span class="person-tags">Đã có VL</span>
                                        <span class="person-tags">8/1/2019</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="d-flex text-center portfolio flex-wrap">
                            <div class="col-md-6">
                                <div class="row border-right">
                                    <div class="col-12 border-bottom p-0"><span class="title-skill">Kỹ Năng</span></div>
                                    <div class="col-12 text-left detailperson__content mt-2">
                                        <ul class="nolist">
                                            <li>Thuyết trình</li>
                                            <li>Giao tiếp</li>
                                            <li>Lắng nghe</li>
                                            <li>Thấu hiểu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        
                            <div class="col-md-6">
                                <div class="row border-right">
                                    <div class="col-12 border-bottom p-0"><span class="title-skill">Phần mềm thông dụng</span></div>
                                    <div class="col-12 text-left detailperson__content mt-2">
                                        <ul class="nolist">
                                            <li>Thuyết trình</li>
                                            <li>Giao tiếp</li>
                                            <li>Lắng nghe</li>
                                            <li>Thấu hiểu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row border-right">
                                    <div class="col-12 border-bottom p-0"><span class="title-skill">Học vấn</span></div>
                                    <div class="col-12 text-left detailperson__content mt-2">
                                        <ul class="nolist">
                                            <li>Thuyết trình</li>
                                            <li>Giao tiếp</li>
                                            <li>Lắng nghe</li>
                                            <li>Thấu hiểu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row border-right">
                                    <div class="col-12 border-bottom p-0"><span class="title-skill">Chứng chỉ khác</span></div>
                                    <div class="col-12 text-left detailperson__content mt-2">
                                        <ul class="nolist">
                                            <li>Thuyết trình</li>
                                            <li>Giao tiếp</li>
                                            <li>Lắng nghe</li>
                                            <li>Thấu hiểu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row border-right">
                                    <div class="col-12 border-bottom p-0"><span class="title-skill">Kinh Nghiệm</span></div>
                                    <div class="col-12 text-left detailperson__content mt-2">
                                        <ul class="nolist">
                                            <li>Thuyết trình</li>
                                            <li>Giao tiếp</li>
                                            <li>Lắng nghe</li>
                                            <li>Thấu hiểu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row border-right">
                                    <div class="col-12 border-bottom p-0"><span class="title-skill">Công việc hiện tại</span></div>
                                    <div class="col-12 text-left detailperson__content mt-2">
                                        <ul class="nolist">
                                            <li>Thuyết trình</li>
                                            <li>Giao tiếp</li>
                                            <li>Lắng nghe</li>
                                            <li>Thấu hiểu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="row border-right">
                                    <div class="col-12 border-bottom p-0"><span class="title-skill">Nội dung thêm</span></div>
                                    <div class="col-12 text-left detailperson__content mt-2">
                                        <ul class="nolist">
                                            <li>Thuyết trình</li>
                                            <li>Giao tiếp</li>
                                            <li>Lắng nghe</li>
                                            <li>Thấu hiểu</li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                            <div class="col-md-6">
                                
                            </div>
                            <div class="d-flex w-100 flex-wrap">
                                <div class="col-md-4 detailperson__end m-0 p-0">
                                    <a href="#" class="detailperson__link p-3">Lưu hồ sơ này về máy</a>
                                </div>
                                <div class="col-md-4 detailperson__end m-0 p-0">
                                    <a href="#" class="detailperson__link p-3">Về Lại Trang Ứng Viên</a>
                                </div>
                                <div class="col-md-4 m-0 p-0">
                                    <a href="#" class="detailperson__link p-3">Liên hệ ứng viên này</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>   
            </div>
            <div class="col-lg-3 col-md-3 detailperson__bannerqc p-0">
                <div class="d-flex flex-wrap ml-3 sticky">
                    <div class="col-12 mb-3 p-0 m-0">
                        <img src="http://www.fday.vn/utils/timthumb.php?src=http://www.fday.vn/uploads/partners/microsoft.jpg&w=300&h=500&zc=1"
                            alt="">
                    </div>
                    <div class="col-12 p-0 m-0">
                        <img src="http://www.fday.vn/utils/timthumb.php?src=http://www.fday.vn/uploads/partners/microsoft.jpg&w=300&h=500&zc=1"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
        <div class="row p-0 py-3">
            <div class="col">
                <h4>Ứng Viên Khác</h4>
            </div>
            <div class="col-lg-12">
                <div class="swiper-container swiper-person">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide">
                            <div class="d-flex px-0 py-0 list-person__item">
                                <div class="col-md-3 col-4 person-gallery p-0">
                                    <img src="{{img('avatar1.jpg')}}" alt="">
                                </div>
                                <div class="col-md-9 col-8 p-2">
                                    <ul class="nolist">
                                        <li class="text-left">
                                            <h5 class="mt-2 "><a href="#" class="job-manage__title">Nguyễn Thanh Tâm</a></h5>
                                        </li>
                                        <li class="text-left w-100">
                                            <a href="#" class="job-manage__company ">Nhân Viên Kinh Doanh</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex px-0 py-0 list-person__item">
                                <div class="col-md-3 col-4 person-gallery p-0">
                                    <img src="{{img('avatar1.jpg')}}" alt="">
                                </div>
                                <div class="col-md-9 col-8 p-2">
                                    <ul class="nolist">
                                        <li class="text-left">
                                            <h5 class="mt-2 "><a href="#" class="job-manage__title">Nguyễn Thanh Tâm</a></h5>
                                        </li>
                                        <li class="text-left w-100">
                                            <a href="#" class="job-manage__company ">Nhân Viên Kinh Doanh</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex px-0 py-0 list-person__item">
                                <div class="col-md-3 col-4 person-gallery p-0">
                                    <img src="{{img('avatar1.jpg')}}" alt="">
                                </div>
                                <div class="col-md-9 col-8 p-2">
                                    <ul class="nolist">
                                        <li class="text-left">
                                            <h5 class="mt-2 "><a href="#" class="job-manage__title">Nguyễn Thanh Tâm</a></h5>
                                        </li>
                                        <li class="text-left w-100">
                                            <a href="#" class="job-manage__company ">Nhân Viên Kinh Doanh</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="swiper-slide">
                            <div class="d-flex px-0 py-0 list-person__item">
                                <div class="col-md-3 col-4 person-gallery p-0">
                                    <img src="{{img('avatar1.jpg')}}" alt="">
                                </div>
                                <div class="col-md-9 col-8 p-2">
                                    <ul class="nolist">
                                        <li class="text-left">
                                            <h5 class="mt-2 "><a href="#" class="job-manage__title">Nguyễn Thanh Tâm</a></h5>
                                        </li>
                                        <li class="text-left w-100">
                                            <a href="#" class="job-manage__company ">Nhân Viên Kinh Doanh</a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="swiper-pagination pagination-person"></div>
                    <div class="swiper-button-next"></div>
                    <div class="swiper-button-prev"></div>
                </div>

            </div>
        </div>
    </div>
</section>
{% endblock %}