{% extends 'layouts/default.html' %}

{% block title %}EditCV{% endblock %}

{% block content %}
<section class="login-page registe-page">
    <div class="container">
        <div class="d-flex flex-wrap flex-row">
            <div class="col-lg-12 registe-page-boxright text-center mb-3 py-3">
                <div class="mx-2">
                    <a href="#"><img src="{{img('ant-logo2.png')}}" alt=""> </a>
                </div>
                <div class="my-2">
                    <span class="registe-page-title">Chỉnh sửa bổ sung</span>
                </div>

                <div class="row justify-content-center">
                    <div class="col-lg-12 my-2">
                        <div class="col text-left p-0">
                            <span>Họ tên:</span>
                        </div>
                        <input class="form-control form-control-lg" type="number" disabled autocomplete="off" placeholder="Vui lòng nhập họ tên">
                    </div>
                    <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Địa chỉ email:</span>
                        </div>
                        <input class="form-control form-control-lg" type="email" disabled autocomplete="off" placeholder="Nhập địa chỉ email">
                    </div>
                    <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Số điện thoại:</span>
                        </div>
                        <input class="form-control form-control-lg" type="number" autocomplete="off" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Quê quán:</span>
                        </div>
                        <input class="form-control form-control-lg" type="number" autocomplete="off" placeholder="">
                    </div>
                    <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Chỗ ở hiện tại:</span>
                        </div>
                        <input class="form-control form-control-lg" type="number" autocomplete="off" placeholder="">
                    </div>
                    <!-- <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Kỹ năng:</span>
                        </div>
                        <textarea rows="2" cols="20" class="w-100"></textarea>
                    </div>
                    <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Thành tích:</span>
                        </div>
                        <textarea rows="2" cols="20" class="w-100"></textarea>
                    </div>
                  
                    <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Trình độ học vấn:</span>
                        </div>
                        <textarea rows="3" cols="20" class="w-100"></textarea>
                    </div>
                    <div class="col-lg-6 my-2">
                        <div class="col text-left p-0">
                            <span>Giải thưởng:</span>
                        </div>
                        <textarea rows="3" cols="20" class="w-100"></textarea>
                    </div>
                    <div class="col-lg-12">
                        <div class="col text-left p-0">
                            <span>Kinh nghiệm làm việc:</span>
                        </div>
                        <textarea rows="6" cols="20" class="w-100"></textarea>
                    </div> -->
                </div>
                <div class="my-3">
                    <a href="#" class="registe-page-link-login">Nhập</a>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}