{% extends 'layouts/personal.html' %}

{% block title %}listjob-employer{% endblock %}

{% block content %}
<section class="bg-light pb-3">
    <div class="container">
        <div class="row py-4">
            <div class="col-lg-12">
                <div class="d-flex flex-wrap employer-box text-left p-0">
                    <div class="border-bottom col-lg-12">
                        <div class="d-flex flex-wrap pt-3">
                            <div class="col-lg-8 col-sm-12">
                                <h5 class="font-weight-bold">DANH SÁCH TIN TUYỂN DỤNG MỚI NHẤT</h5>
                            </div>
                            <div class="col-lg-2 col-6 text-right">
                                <a href="#">Thêm</a>
                            </div>
                            <div class="col-lg-2 col-6 ">
                                <a href="#">Xóa</a>
                            </div>
                        </div>
                    </div>
                    <table class="table col-lg-12">
                        <thead>
                            <tr>
                                <th scope="col"></th>
                                <th scope="col">Tên công việc</th>
                                <th scope="col">Ngày đăng</th>
                                <th scope="col">Hết hạn</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <th scope="row">1</th>
                                <td><a href="#">Tuyển dụng nhân viên kinh doanh</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">2</th>
                                <td><a href="#">Tuyển dụng nhân viên IT</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">3</th>
                                <td><a href="#">Tuyển dụng nhân viên văn phòng</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">4</th>
                                <td><a href="#">Tuyển dụng nhân viên marketing</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">5</th>
                                <td><a href="#">Tuyển dụng nhân viên marketing</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">6</th>
                                <td><a href="#">Tuyển dụng nhân viên marketing</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">7</th>
                                <td><a href="#">Tuyển dụng nhân viên marketing</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">8</th>
                                <td><a href="#">Tuyển dụng nhân viên marketing</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">9</th>
                                <td><a href="#">Tuyển dụng nhân viên marketing</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                            <tr>
                                <th scope="row">10</th>
                                <td><a href="#">Tuyển dụng nhân viên marketing</a></td>
                                <td>10/3/2019</td>
                                <td>10/4/2019</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <div class="row py-3">
            <div class="col-lg-12">
                <nav aria-label="Page navigation example">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>
</section>
{% endblock %}