{% extends 'layouts/default.html' %}

{% block title %}Homepage{% endblock %}

{% block content %}
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item active" aria-current="page">Job-manage</li>
    </ol>
</nav>
<section class="banner-manage">
    <div class="container-fluid">
        <img src="" alt="">
    </div>
</section>
<section>
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-6">
                <h4 class="text-dark">Việc Làm Quản Lý</h4>
            </div>
            <div class="col-md-6">
                <div class="row">
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Lương</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Địa Điểm</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                    <div class="col-md-4">
                        <div class="form-group">
                            <select class="form-control" id="sel1">
                                <option>Giới</option>
                                <option>2</option>
                                <option>3</option>
                                <option>4</option>
                            </select>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="">
    <div class="container-fluid job-manage">
        <div class="d-flex flex-wrap">
            <div class=" col-lg-9 col-md-12 mt-3">
                <div class="row align-items-center border mb-3 pb-3 job-manage__list">
                    <div class="col-md-3 mt-3 mb-2">
                        <div class="card">
                            <div class="card-thumb-company">
                                <a href="#">
                                    <img class="card-img-top" src="{{img('logo-manhhung.jpg')}}" alt="Card image cap">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col">
                            <h5><a href="#" class="job-link">Tuyển dụng vị trí Quản lý nhân sự</a></h5>
                        </div>
                        <div class="col">
                            <a href="#" class="company-link">Công ty abc</a>
                        </div>
                        <div class="col">
                            <span class="badge badge-primary">S.Lượng</span>
                            <span class="badge badge-primary">Nam/Nữ</span><br>
                            <span class="badge badge-primary">Lương</span>
                            <span class="badge badge-primary">Địa Điểm</span>
                            <span class="badge badge-primary">YC</span>
                            <span class="badge badge-primary">Hạn</span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center border mb-3 pb-3 job-manage__list">
                    <div class="col-md-3 mt-3 mb-2">
                        <div class="card">
                            <div class="card-thumb-company">
                                <a href="#">
                                    <img class="card-img-top" src="{{img('dongtam.jpg')}}" alt="Card image cap">
                                </a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col">
                            <h5><a href="#" class="job-link">Tuyển dụng vị trí Quản lí khách sạn</a></h5>
                        </div>
                        <div class="col">
                            <a href="#" class="company-link">Công ty abc</a>
                        </div>
                        <div class="col">
                            <span class="badge badge-primary">S.Lượng</span>
                            <span class="badge badge-primary">Nam/Nữ</span><br>
                            <span class="badge badge-primary">Lương</span>
                            <span class="badge badge-primary">Địa Điểm</span>
                            <span class="badge badge-primary">YC</span>
                            <span class="badge badge-primary">Hạn</span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center border mb-3 pb-3 job-manage__list">
                    <div class="col-md-3 mt-3 mb-2">
                        <div class="card">
                            <div class="card-thumb-company">
                                <a href="#"><img class="card-img-top" src="{{img('thang-long-1108.jpg')}}" alt="Card image cap"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col">
                            <h5><a href="#" class="job-link">Tuyển dụng vị trí Quản lý nhà hàng</a></h5>
                        </div>
                        <div class="col">
                            <a href="#" class="company-link">Công ty abc</a>
                        </div>
                        <div class="col">
                            <span class="badge badge-primary">S.Lượng</span>
                            <span class="badge badge-primary">Nam/Nữ</span><br>
                            <span class="badge badge-primary">Lương</span>
                            <span class="badge badge-primary">Địa Điểm</span>
                            <span class="badge badge-primary">YC</span>
                            <span class="badge badge-primary">Hạn</span>
                        </div>
                    </div>
                </div>
                <div class="row align-items-center border mb-3 pb-3 job-manage__list">
                    <div class="col-md-3 mt-3 mb-2">
                        <div class="card">
                            <div class="card-thumb-company">
                                <a href="#"><img class="card-img-top" src="{{img('logo-hoangphat.png')}}" alt="Card image cap"></a>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-9">
                        <div class="col">
                            <h5><a href="#" class="job-link">Tuyển dụng vị trí Quản lí cấp cao</a></h5>
                        </div>
                        <div class="col">
                            <a href="#" class="company-link">Công ty abc</a>
                        </div>
                        <div class="col">
                            <span class="badge badge-primary">S.Lượng</span>
                            <span class="badge badge-primary">Nam/Nữ</span><br>
                            <span class="badge badge-primary">Lương</span>
                            <span class="badge badge-primary">Địa Điểm</span>
                            <span class="badge badge-primary">YC</span>
                            <span class="badge badge-primary">Hạn</span>
                        </div>
                    </div>
                </div>

                <nav aria-label="Page navigation example ">
                    <ul class="pagination justify-content-center">
                        <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                        <li class="page-item"><a class="page-link" href="#">1</a></li>
                        <li class="page-item"><a class="page-link" href="#">2</a></li>
                        <li class="page-item"><a class="page-link" href="#">3</a></li>
                        <li class="page-item"><a class="page-link" href="#">Next</a></li>
                    </ul>
                </nav>

            </div>
            <div class="col-lg-3 col-md-12 mt-3 bannerqc">
                <div class="row sticky">
                    <div class="col-lg-12 col-md-6 mb-3 pr-0">
                        <img height="400" class="w-100" src="http://aimacademy.vn/wp-content/uploads/2017/11/YEC_Adaptation_WIFI-Banner.jpg"
                            alt="">
                    </div>
                    <div class="col-lg-12 col-md-6 pr-0">
                        <img height="400" class="w-100" src="http://aimacademy.vn/wp-content/uploads/2017/11/YEC_Adaptation_WIFI-Banner.jpg"
                            alt="">
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="banner-course">
    <div class="container-fluid ">
        <img class="w-100   " src="http://www.timvieclamtaitphcm.com/publicimages/photos/BANNER.png" alt="">
    </div>
</section>
{% endblock %}