{% extends 'layouts/default.html' %}

{% block title %}Login-Master{% endblock %}

{% block content %}
<section class="login-master-page">
    <div class="container">
        <div class="d-flex flex-wrap flex-row ">
            <div class="col-lg-7 login-master-page-boxleft border-right border-muted mb-3 order-md-0 order-1">
                <div class="mx-2 py-4">
                    <ul class="nolist list-text">
                        <li><a href="#">+4000 ứng viên tiếp cận thông tin tuyển dụng</a></li>
                        <li><a href="#">Hơn 20 hồ sơ ứng tuyển cho 1 việc làm đăng tuyển tại Vuta</a></li>
                        <li><a href="#">Tăng hiệu quả 4 - 5 lần so với các phương thức tuyển dụng khác</a></li>
                        <li><a href="#">+200 lượt xem trung bình cho 1 việc làm</a></li>
                    </ul>
                </div>
                <div class="d-flex flex-wrap">
                    <div class="col-lg-12 text-center border hotline">
                        <span class="">Hotline tư vấn dành cho nhà tuyển dụng</span>
                    </div>
                    <div class="col-lg-6 col-6 text-center my-2">
                        <span>Hotline-1</span><br>
                        <span>0909667788</span>
                    </div>
                    <div class="col-lg-6 col-6 text-center my-2">
                        <span>Hotline-2</span><br>
                        <span>0808556644</span>
                    </div>
                </div>
            </div>
            <div class="col-lg-5 login-master-page-boxright text-center mb-3 py-3 order-0">
                <div class="mx-2 my-2 input-login-master w-80">
                    <span>
                        <i class="li-person"></i>
                        Đăng nhập nhà tuyển dụng
                    </span>
                </div>
                <div class="input-login-master">
                    <div class="col text-holder p-0">
                        <span class="text-opacity ">Tài khoản nhà tuyển dụng:</span><br>
                    </div>
                    <span><i class="li-user"></i></span>
                    <input class="" autocomplete="off" placeholder="Nhập địa chỉ email">
                </div>
                <div class="input-login-master">
                    <div class="col text-holder p-0">
                        <span class="text-opacity">Mật khẩu:</span><br>
                    </div>
                    <span><i class="li-key"></i></span>
                    <input class="" autocomplete="off" placeholder="*************">
                </div>
                <div class="mt-2">
                    <a href="#" class="login-master-page-link-login">Đăng nhập</a>
                </div>
                <div class="row mt-2">
                    <hr width="50"><span class="text-opacity">Hoặc</span>
                    <hr width="50">

                </div>
                <div class="mt-2">
                    <a href="#" class="login-master-page-link-loginfb">Đăng nhập qua Facebook</a>
                </div>
                <div class="mt-2">
                    <span class="text-opacity">Quên mật khẩu</span>
                </div>
                <div class="row text-center justify-content-center py-2">
                    <p>Bạn chưa có tài khoản? <a href="#">Đăng ký</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}