{% extends 'layouts/personal.html' %}

{% block title %}Company{% endblock %}

{% block content %}
<section class="bg-light pt-3">
    <div class="container">
        <div class="row">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    <li class="breadcrumb-item"><a href="#">Home</a></li>
                    <li class="breadcrumb-item active" aria-current="page">Library</li>
                </ol>
            </nav>
        </div>
    </div>
</section>
<section id="main-login" class="bg-light">
    <div class="container pb-5">
        <div class="row pb-3">
            <div class="col-lg-6 pl-md-0">
                <div class="box-login p-0 ">
                    <div class="d-flex flex-wrap box-login-top">
                        <div class="col-lg-8 ">
                            <h5 class="pt-2">Hồ sơ online Vuta</h5>
                            <hr>
                            <span>Phù hợp với các hồ sơ không có file đính kèm, muốn nhập chi tiết thông tin hồ sơ của mình
                                để hiển thị trên
                                Vuta.</span>
                        </div>
                        <div class="col-lg-4 p-0 d-flex align-items-center py-3">
                            <img src="https://cdn2.iconfinder.com/data/icons/document-20/100/profile-512.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <a href="#" class="box-login-link"><span>Làm hồ sơ</span></a>
                    </div>
                </div>
              
            </div>
            <div class="col-lg-6 pr-md-0">
                <div class="box-login p-0">
                    <div class="d-flex flex-wrap box-login-top">
                        <div class="col-lg-8 ">
                            <h5 class="pt-2">Hồ sơ đính kèm</h5>
                            <hr>
                            <span>Phù hợp với các ứng viên đã có hồ sơ đính kèm, muốn tạo hồ sơ để ứng tuyển nhanh vào các công việc trên Vuta.</span>
                        </div>
                        <div class="col-lg-4 p-0 d-flex align-items-center py-3">
                            <img src="https://cdn2.iconfinder.com/data/icons/document-20/100/profile-512.png" alt="">
                        </div>
                    </div>
                    <div class="col-lg-12 py-3">
                        <a href="#" class="box-login-link"><span>Làm hồ sơ</span></a>
                    </div>
                </div>
            
            </div>
        </div>
        <div class="row list-join-job align-items-center">
            <div class="col-lg-6"><h5 class="py-2">Công việc đã ứng tuyển</h5></div>
            <div class="col-lg-6 text-right ">
                <a href="#" class="backlink-list pr-3">Xem tất cả</a>
            </div>
            
            <div class="d-flex w-100 text-center border-top">
                <div class="col-lg-5 py-2 border-right h-100">
                    <span>Vị trí / Công ty</span>
                </div>
                <div class="col-lg-3 py-2 border-right">
                    <span>Mức lương</span>
                </div>
                <div class="col-lg-2 py-2 border-right">
                    <span>Ngày ứng tuyển</span>
                </div>
                <div class="col-lg-2 py-2">
                    <span>Trạng thái</span>
                </div>
            </div>
            <div class="d-flex w-100 text-center border-top list-join-items">
                <div class="col-lg-5 py-2 text-left border-right">
                    <a href="#">Nhân viên kiểm duyệt hàng hóa</a><br>
                    <span class="company-job">Công ty TNHH Phú Phạm</span>
                </div>
                <div class="col-lg-3 py-2 border-right">
                    <span class="money-job">7 triệu - 10 triệu</span>
                </div>
                <div class="col-lg-2 py-2 border-right">
                    <span class="timeline-job">9/3/2019</span>
                </div>
                <div class="col-lg-2 py-2">
                    <span class="status-job">Đã ứng tuyển</span>
                </div>
            </div>
            <div class="d-flex w-100 text-center border-top list-join-items">
                <div class="col-lg-5 py-2 text-left border-right">
                    <a href="#">Nhân viên kiểm duyệt hàng hóa</a><br>
                    <span class="company-job">Công ty TNHH Phú Phạm</span>
                </div>
                <div class="col-lg-3 py-2 border-right">
                    <span class="money-job">7 triệu - 10 triệu</span>
                </div>
                <div class="col-lg-2 py-2 border-right">
                    <span class="timeline-job">9/3/2019</span>
                </div>
                <div class="col-lg-2 py-2">
                    <span class="status-job">Đã ứng tuyển</span>
                </div>
            </div>
            <div class="d-flex w-100 text-center border-top list-join-items">
                <div class="col-lg-5 py-2 text-left border-right">
                    <a href="#">Nhân viên kiểm duyệt hàng hóa</a><br>
                    <span class="company-job">Công ty TNHH Phú Phạm</span>
                </div>
                <div class="col-lg-3 py-2 border-right">
                    <span class="money-job">7 triệu - 10 triệu</span>
                </div>
                <div class="col-lg-2 py-2 border-right">
                    <span class="timeline-job">9/3/2019</span>
                </div>
                <div class="col-lg-2 py-2">
                    <span class="status-job">Đã ứng tuyển</span>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}