{% extends 'layouts/default.html' %}

{% block title %}Company{% endblock %}

{% block content %}
<section class="login-page registe-page">
    <div class="container">
        <div class="d-flex flex-wrap flex-row">
            <!-- <div class="col-lg-5 registe-page-boxleft border-right border-muted mb-3">
                <div class="mx-2 py-3">
                    <h2 class="registe-page-title">Đăng ký ứng viên</h2>
                    <ul class="nolist list-text">
                        <li><a href="#">Tiếp cận hàng triệu công việc hoàn toàn miễn phí</a></li>
                        <li><a href="#">Ứng tuyển nhanh chóng, dễ dàng</a></li>
                        <li><a href="#">Nhận bản tin công việc phù hợp định kỳ</a></li>
                        <li><a href="#">Nâng cao cơ hội tìm việc với chương trình ứng viên năng động </a></li>
                    </ul>
                </div>
            </div> -->
            <div class="col-lg-12 registe-page-boxright text-center mb-3 py-3">
                <div class="mx-2">
                    <a href="#"><img src="{{img('logo.png')}}" alt=""> </a>
                </div>
                <div class="my-2">
                    <span class="registe-page-title">Đăng ký ứng viên</span>
                </div>
                <div class="col text-left p-0">
                    <span>Họ tên:</span>
                </div>
                <input class="w-100 my-2" type="number" autocomplete="off" placeholder="Vui lòng nhập họ tên">
                <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="col text-left p-0">
                            <span>Địa chỉ email:</span>
                        </div>
                        <input class="w-100 my-2" type="email" autocomplete="off" placeholder="Nhập địa chỉ email">
                    </div>
                    <div class="col-lg-6">
                        <div class="col text-left p-0">
                            <span>Số điện thoại:</span>
                        </div>
                        <input class="w-100 my-2" type="number" autocomplete="off" placeholder="Nhập số điện thoại">
                    </div>
                    <div class="col-lg-6">
                        <div class="col text-left p-0">
                            <span>Nhập Địa chỉ:</span>
                        </div>
                        <input class="w-100 my-2" type="number" autocomplete="off" placeholder="Nhập Địa chỉ">
                    </div>
                    <div class="col-lg-6">
                        <div class="col text-left p-0">
                            <span>Chỗ ở hiện tại:</span>
                        </div>
                        <input class="w-100 my-2" type="number" autocomplete="off" placeholder="...">
                    </div>
                </div>
                <!-- <div class="row justify-content-center">
                    <div class="col-lg-6">
                        <div class="col text-left p-0">
                            <span>Mật khẩu:</span>
                        </div>
                        <input class="w-100 my-2" type="password" autocomplete="off" placeholder="Nhập mật khẩu">
                    
                    </div>
                    <div class="col-lg-6">
                        <div class="col text-left p-0">
                            <span>Nhắc lại mật khẩu:</span>
                        </div>
                        <input class="w-100 my-2" type="password" autocomplete="off" placeholder="Nhập lại mật khẩu">
                    </div>
                </div> -->
                <div class="mt-3">
                    <a href="#" class="registe-page-link-login">Đăng ký</a>
                </div>
                <div class="mt-2">
                    <span class="text-opacity">Quên mật khẩu</span>
                </div>
                <div class="row text-center justify-content-center py-2">
                    <p>Bạn đã có tài khoản? <a href="#">Đăng nhập</a></p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}