<footer id="footer">
    <div class="container">
        <div class="row">
            <div class="col-lg-4 d-flex flex-column">
                <div class="d-flex flex-wrap border flex-grow-1">
                    <ul class="nolist">
                        <li class="ml-2 font-weight-bold"><h3>Công Ty Vuta Việc làm</h3></li>
                        <li><a href="#">Điện thoại: 0909556677</a></li>
                        <li><a href="#">Email: hotro@vuta.com.vn</a></li>
                        <li><a href="#">Trụ sở chính: Tầng 3, Edyco building, 102A Lê Hồng Phong, Phường 7, Thành phố Vũng Tàu.</a></li>
                    </ul>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12">
                <span class="title-footer">Bản đồ:</span>
                <div class="d-flex flex-wrap p-0 maps">
                    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3924.782451494951!2d107.07653895092606!3d10.35927226954976!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x31756ff34707b7ad%3A0x57f311cbed9ff724!2zQ8OUTkcgVFkgQ-G7lCBQSOG6pk4gQ8OUTkcgTkdI4buGIFZVVEFURUNI!5e0!3m2!1svi!2s!4v1552276979911"
                        frameborder="0" style="border:0" allowfullscreen  width="100%" class="maps-son"></iframe>
                </div>
            </div>
            <div class="col-lg-4 col-md-6 col-sm-12 d-flex flex-column fanpage">
                <span class="title-footer">Fanpage:</span>
                <div class="fb-page" data-href="https://www.facebook.com/vutatech.vn/" data-tabs="timeline" data-height="250"
                    data-small-header="true" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                    <blockquote cite="https://www.facebook.com/vutatech.vn/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/vutatech.vn/">VUTATECH
                            TECHNOLOGY</a></blockquote>
                </div>
            </div>
        </div>
    </div>
</footer>